<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <context:component-scan base-package="com.yz.abc"/>


  <!--三、配置Quartz Scheduler 配置作业-->
          <!--有两种方式在 Spring 中使用 Quartz 来配置一个作业。-->
          <!--A：使用 MethodInvokingJobDetailFactoryBean-->
          <!--这种方式在你想要调用特定 bean 的一个方法的时候很是方便，比另一种方法要简单的多。-->
  <bean id="simpleJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean ">
    <property name="targetObject" ref="myBean"></property>
    <property name="targetMethod" value="printMessage"></property>
  </bean>

          <!-- myBean 的 printMessage 方法，myBean 是一个简单的 POJO。-->
          <!--B：使用 JobDetailFactoryBean-->
          <!--如果你需要更高级的设置，需要给作业传递数据，想更加灵活的话就使用这种方式。-->
  <bean name="firstComplexJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
    <property name="jobClass" value="com.yz.abc.scheduler.FirstScheduledJob" />
    <property name="jobDataMap">
      <map>
        <entry key="anotherBean" value-ref="anotherBean" />
      </map>
    </property>
    <!--任务完成后是否依然保留到数据库-->
    <property name="durability" value="true" />
  </bean>


  <bean id="secondComplexJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
    <property name="jobClass" value="com.yz.abc.scheduler.SecondScheduledJob"></property>
    <property name="durability" value="true"></property>
  </bean>

  <!--四、配置 Quartz 调度时要使用到的触发器-->
          <!--触发器用来定义调度器何时将会执行你的调度任务的那个时间。有两种可能的触发器类型：-->
          <!--A：简单触发器，使用 SimpleTriggerFactoryBean-->
          <!--你可以定义作业的启动时间、触发器之间的延迟时间以及 repeatInterval(频率)。-->
  <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
    <property name="jobDetail" ref="simpleJobDetail"></property>
    <property name="startDelay" value="1000"></property>
    <property name="repeatInterval" value="2000"></property>
  </bean>

          <!--B：计划触发器，使用 CronTriggerFactoryBean-->
          <!--这种类型更加灵活，允许你针对特定实例选择计划方案以及将来要执行的频率。-->
  <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="firstComplexJobDetail"></property>
    <property name="cronExpression" value="0/5 * * ? * *"></property>
  </bean>

  <bean id="secondCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="secondComplexJobDetail"></property>
    <property name="cronExpression" value="0/5 * * ? * *"></property>
  </bean>

   <!--五、配置创建定配置 Quartz 调度器的 SchedulerFactoryBean-->
   <!--SchedulerFactoryBean 将 jobDetails 和 triggers 整合在一起以配置 Quartz 调度器。-->
  <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="jobDetails">
      <list>
        <ref bean="simpleJobDetail"/>
        <ref bean="firstComplexJobDetail"/>
        <ref bean="secondComplexJobDetail"/>
      </list>
    </property>
    <property name="triggers">
      <list>
        <ref bean="simpleTrigger"/>
        <ref bean="cronTrigger"/>
        <ref bean="secondCronTrigger"/>
      </list>
    </property>
  </bean>
</beans>